<!doctype html>
<html>
  <head>
    <title>Juridico – Résultats</title>
    <link rel="stylesheet" href="{static resultats.css}">
  </head>
  <body>
    <header>
      <img src="{static juridico.png}" style="height:4em">
      <h1>Juridico</h1>
    </header>
    <h2>Résultats</h2>
    <div class="contenu">
      {% if directions.count > 0 %}
      <table class="directions">
        {% for direction in directions %}
        {{ direction.to_resultats }}
        {% end for %}
      </table>
      {% end if %}
      <div class="ressources">
        <div class="organismes">
          {% for org in organismes %}
          <h2>{{org.nom}}</h2>
          <div>
            {{ org.description }}
          </div>
          {% end for %}
        </div>
        <div class="documentation">
          {% for doc in documentation %}
            {{ doc }}
          {% end for %}
        </div>
        <div class="camarades">
          {% for camarade in camarades %}
            {{ camarade }}
          {% end for %}
        </div>
      </div>
    </div>
  </body>
</html>
